main {
  margin: 8px;
}
.navbar-brand {
  color: white;
}

#navbarNav {
  justify-content: end;
}

.nav-link {
  color: white;
}
.card-header{
  color: white;
}
h1 {
  display: flex;
  color: #9042f5;
  justify-content: center;
}
section {
  display: flex;
  flex-direction: row;
}
.card {
  width: 25rem;
  margin: 15px;
  height: 50%;
  background-color: #9042f5;
  margin-left: 100px;
  margin-top: 50px;
}

.container-fluid {
  background-color: #9042f5;
}
